extends layout.pug

block content
  main.page-content
    section.search-results
      h1.visually-hidden Результаты поиска
      .search-results__wrapper
        if results.length
          p.search-results__label
            | Найдено
            span.js-results #{results.length} публикаций
          ul.search-results__list
            each offer in results
              li.search-results__item
                .ticket-card.ticket-card--color05
                  .ticket-card__img
                    +insertOfferImage(offer)
                  .ticket-card__info
                    +offerLabel(offer.type)
                    .ticket-card__categories
                      each category in offer.category
                        a(href="#") #{category}
                    .ticket-card__header
                      h3.ticket-card__title
                        a(href="#") #{offer.titsle}
                      p.ticket-card__price
                        span.js-sum #{offer.sum}
                        |  ₽
                    .ticket-card__desc
                      p #{offer.description}
        else
          .search-results__message
            p Не найдено публикаций
